<!DOCTYPE html>
<html>
<%- include('partials/head') %>
<body class="has-navbar-fixed-top">
  <%- include('partials/navbar') %>
  <section class="hero is-medium has-bg-img">
    <div class="hero-head">
      <div class="container">
        <div class="is-flex is-horizontal-center">
          <figure class="image">
            <img src="./images/obs2go-hero-app-place.png" alt="obs2go-hero-app-place" />
          </figure>
        </div>
      </div>
    </div>
    <div class="hero-body"></div>
  </section>
  <section class="section">
    <div class="container is-widescreen">
      <div class="columns is-mobile">
        <div class="column is-narrow toggle-filters">
          <button class="button is-primary toggle-menu" data-target="obs2go-filters">
            <span class="icon">
              <i class="fa fa-filter"></i>
            </span>
          </button>
        </div>
        <div class="column is-three-fifths-desktop is-offset-one-fifth-desktop">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input is-fullwidth" type="text" />
            </div>
            <div class="control">
              <button class="button is-danger">
                <span class="icon">
                  <i class="fa fa-lg fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div id="obs2go-filters" class="filters column is-narrow">
          <a class="button is-primary is-outlined">Reset</a>
          <a class="button is-primary is-outlined">Apply Filters</a>
          <p class="is-6 m-t-md m-b-xs">Price</p>
          <hr class="is-marginless" />
          <ul class="m-t-md">
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-free" type="checkbox" name="fltr-free">
                <label for="fltr-free">Free</label>
              </div>
            </li>
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-paid" type="checkbox" name="fltr-paid">
                <label for="fltr-paid">Paid</label>
              </div>
            </li>
          </ul>
          <p class="is-6 m-t-md m-b-xs">Category</p>
          <hr class="is-marginless" />
          <ul class="m-t-md">
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-finance" type="checkbox" name="fltr-finance">
                <label for="fltr-finance">Finance</label>
              </div>
            </li>
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-hr" type="checkbox" name="fltr-hr">
                <label for="fltr-hr">Human Resources</label>
              </div>
            </li>
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-sales" type="checkbox" name="fltr-sales">
                <label for="fltr-sales">Sales</label>
              </div>
            </li>
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-cs" type="checkbox" name="fltr-cs">
                <label for="fltr-cs">Customer Service</label>
              </div>
            </li>
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-marketing" type="checkbox" name="fltr-marketing">
                <label for="fltr-marketing">Marketing</label>
              </div>
            </li>
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-analytics" type="checkbox" name="fltr-analytics">
                <label for="fltr-analytics">Analytics</label>
              </div>
            </li>
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-integration" type="checkbox" name="fltr-integration">
                <label for="fltr-integration">Integration</label>
              </div>
            </li>
          </ul>
          <p class="is-6 m-t-md m-b-xs">Rating</p>
          <hr class="is-marginless" />
          <ul class="m-t-md">
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-rating-5" type="checkbox" name="fltr-rating-5">
                <label for="fltr-rating-5">
                  <span class="has-text-muted">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </span>
                </label>
              </div>
            </li>
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-rating-4" type="checkbox" name="fltr-rating-4">
                <label for="fltr-rating-4">
                  <span class="has-text-muted">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star star-empty"></i>
                  </span>
                </label>
              </div>
            </li>
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-rating-3" type="checkbox" name="fltr-rating-3">
                <label for="fltr-rating-3">
                  <span class="has-text-muted">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star star-empty"></i>
                    <i class="fas fa-star star-empty"></i>
                  </span>
                </label>
              </div>
            </li>
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-rating-2" type="checkbox" name="fltr-rating-2">
                <label for="fltr-rating-2">
                  <span class="has-text-muted">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star star-empty"></i>
                    <i class="fas fa-star star-empty"></i>
                    <i class="fas fa-star star-empty"></i>
                  </span>
                  </span>
                </label>
              </div>
            </li>
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-rating-1" type="checkbox" name="fltr-rating-1">
                <label for="fltr-rating-1">
                  <span class="has-text-muted">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star star-empty"></i>
                    <i class="fas fa-star star-empty"></i>
                    <i class="fas fa-star star-empty"></i>
                    <i class="fas fa-star star-empty"></i>
                  </span>
                </label>
              </div>
            </li>
            <li class="m-b-xs">
              <div class="control">
                <input class="is-checkradio" id="fltr-unrated" type="checkbox" name="fltr-unrated">
                <label for="fltr-unrated">
                  Unrated
                </label>
              </div>
            </li>
          </ul>
        </div>
        <div class="column">
          <div class="divider m-b-md">
            <h3 class="divider-text subtitle is-4">Featured</h3>
          </div>
          <div class="columns is-multiline">
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/01.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">EditorConfig</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">EditorConfig</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          635K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star star-empty"></i>
                          <i class="fas fa-star star-empty"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">FREE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/02.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Atom Keymap</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Microsoft</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          261K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star star-empty"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">FREE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/03.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Power Tools</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Jeff Hykin</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          12K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">PAID</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/04.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">ESLint</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Erik Amodio</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          898K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star star-empty"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">PAID</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="buttons has-addons is-right">
            <a class="is-primary" href="#">
              <strong>See more</strong>
              <span class="icon is-small">
                <i class="fas fa-arrow-alt-circle-right"></i>
              </span>
            </a>
          </div>
          <div class="divider m-b-md">
            <h3 class="divider-text subtitle is-4">Recommended by OBS2GO</h3>
          </div>
          <div class="columns is-multiline">
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/05.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Git Lens</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Red Hat</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          58K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star star-empty"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">FREE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/06.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Docker</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Microsoft</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          345K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star star-empty"></i>
                          <i class="fas fa-star star-empty"></i>
                          <i class="fas fa-star star-empty"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">FREE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/07.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Vetur</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Pine Wu</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          12K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star star-empty"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">PAID</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/08.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">One Dark Pro</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">binaryify</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          44K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star star-empty"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">PAID</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="buttons has-addons is-right">
            <a class="is-primary" href="#">
              <strong>See more</strong>
              <span class="icon is-small">
                <i class="fas fa-arrow-alt-circle-right"></i>
              </span>
            </a>
          </div>
          <div class="divider m-b-md">
            <h3 class="divider-text subtitle is-4">Most Popular</h3>
          </div>
          <div class="columns is-multiline">
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/09.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Window Colors</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Stuart Robinson</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          123K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star star-empty"></i>
                          <i class="fas fa-star star-empty"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">FREE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/10.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Azure Pipelines</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Microsoft</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          124K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star star-empty"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">FREE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/11.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Kaia</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Ryan Smith</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          552K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star star-empty"></i>
                          <i class="fas fa-star star-empty"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">PAID</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/12.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Trello Viewer</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Ho Wan</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          563K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">PAID</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="buttons has-addons is-right">
            <a class="is-primary" href="#">
              <strong>See more</strong>
              <span class="icon is-small">
                <i class="fas fa-arrow-alt-circle-right"></i>
              </span>
            </a>
          </div>
          <div class="divider m-b-md">
            <h3 class="divider-text subtitle is-4">Highest Rated</h3>
          </div>
          <div class="columns is-multiline">
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/13.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Power Tools</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Digital GmbH</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          123K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">FREE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/14.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Angular Console</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">nrwl</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          124K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">FREE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/15.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Split Lines</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Brainfit</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          552K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">PAID</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
              <a class="box is-radiusless" href="details.html">
                <div class="tile">
                  <div class="tile-image">
                    <figure class="image is-96x96">
                      <img src="./images/16.png" />
                    </figure>
                  </div>
                  <div class="tile-content">
                    <p class="title is-5 has-text-truncate">Ra Focus</p>
                    <div class="tile-row">
                      <p class="tile-publisher is-6 has-text-truncate">Rahman Yerli</p>
                      <div class="tile-downloads">
                        <p class="is-6 has-text-muted">
                          <span class="icon box-icon">
                            <i class="fas fa-download"></i>
                          </span>
                          563K
                        </p>
                      </div>
                    </div>
                    <div class="tile-row">
                      <div class="tile-rating">
                        <span class="has-text-muted">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </span>
                      </div>
                      <div class="tile-price">
                        <p class="is-6">PAID</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="buttons has-addons is-right">
            <a class="is-primary" href="#">
              <strong>See more</strong>
              <span class="icon is-small">
                <i class="fas fa-arrow-alt-circle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>
  <%- include('partials/toggle-menu') %>
</body>
</html>
