<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          <img src="./images/obs2go-app-place-logo.png" alt="obs2go-app-place-logo" width="180" />
        </div>
        <div class="content">
          <p>
            With thousands of solutions that install in just a few clicks, there's something for every business
            challenge.
          </p>
        </div>
        <div class="content">
          <a href="#">
            <span class="icon">
              <i class="fab fa-twitter"></i>
            </span>
          </a>
          <a href="#">
            <span class="icon">
              <i class="fab fa-facebook-f"></i>
            </span>
          </a>
          <a href="#">
            <span class="icon">
              <i class="fab fa-linkedin-in"></i>
            </span>
          </a>
          <a href="#">
            <span class="icon">
              <i class="fab fa-instagram"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h4 class="is-6 has-text-white">New</h4>
          <ul>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h4 class="is-6 has-text-white">Contacts</h4>
          <ul>
            <li>
              <span class="icon">
                <i class="fas fa-phone"></i>
              </span>
              +359 88 888 888
            </li>
            <li>
              <span class="icon">
                <i class="fas fa-envelope"></i>
              </span>
              office@obs2go.com
            </li>
            <li>
              <span class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </span>
              Sofia, str,
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h4 class="is-6 has-text-white">Marketplace</h4>
          <p>
            Subscribe for latest updates. Start by entering your email below.
          </p>
          <div class="field has-addons p-t-md">
            <div class="control is-expanded">
              <input class="input is-fullwidth" type="text" placeholder="Enter your email address" />
            </div>
            <div class="control">
              <button class="button is-primary">
                Subscribe
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copiright">
  <div class="content is-small">
    <p class="has-text-grey">www.obs2go.com &copy; 2019. All rights reserved</p>
  </div>
</div>
