<nav class="navbar is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="./images/obs2go-logo.png" alt="obs2go-logo" width="120" />
      </a>
      <div class="navbar-burger burger toggle-menu" data-target="obs2go-navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>
    <div id="obs2go-navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-active" href="/">Home</a>
        <a class="navbar-item" href="#">Recommended for You</a>
        <a class="navbar-item" href="#">Solutions by type</a>
        <a class="navbar-item" href="#">Product collections</a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="#">
          <span class="icon">
            <i class="fas fa-lg fa-shopping-cart"></i>
          </span>
        </a>
        <a class="navbar-item" href="#">
          <span class="icon">
            <i class="fas fa-lg fa-heart"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
